@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Work in progress.</h1>
    <p>I swear on mee lord, setting this up has been more of a pain than it appears.</p>
</div>
